[Unit]
Description=Run PiOSK video capture
After=network.target

[Service]
Type=simple
ExecStart=ffmpeg -f v4l2 -i /dev/video0 -vcodec libx264 -tune zerolatency -preset ultrafast -pix_fmt yuv420p -b:v 2000k -f mpegts udp://127.0.0.1:1234
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
